@charset "utf-8";
html {
    background-image: url(background2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
body {
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#727272;
    margin-bottom: 5px;
    margin-left: 5;
    margin-right: 5;
    }
#main-form {
    background-color:#F5F5F5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:180px auto;
    width:100%;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    }

#main-form fieldset {
    border:none;
    position:relative;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    height: 180px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    }
#main-form fieldset form{
    margin-left: 20px;
	margin-right: 20px;
}

#main-form fieldset form button[type="submit"] {
    background-color:#F5F5F5;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:white;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:0;
    -webkit-appearance:none;
    width: 100%;
    height: 100px;
    font-size: 17;
    }

.acl{
    background-color:white;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#3299BB;
    cursor:pointer;
    float:none;
    font-weight:normal;
    font-size: 16;
    padding:0px;
    margin-left: 165px;
    }
#sub-form{
	background-color:white;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    padding:20px;
    text-align:left;
    font-family:'Open Sans',sans-serif;
    font-size:18px;
    margin-bottom: 0;
    padding-bottom: 15px; 
    padding-right: 20px;
}
#sub-form input[type="submit"] {
    background-color:white;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#3299BB;
    cursor:pointer;
    float:none;
    font-weight:normal;
    font-size: 16px;
    padding:0px;
    margin-left: 165px;
    }
.chert{
	width: 100%;
	height: 5px;
	background-color: #BCBCBC;
}
.table{
    width: 100%;
    margin-right: 0;
    margin-left: -5px;
}
.gran{
    margin: 0px;
    width: 3px;
    color: #BCBCBC
}
.butt{
    background-color:#3299BB;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:white;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:12px 12px;
    -webkit-appearance:none;
    width: 100%;
    font-size: 12px;
    margin-bottom: 7px;
    margin-left: -10px;
}
.tdd{
    width: 50%;
}
#imgg{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    margin-left: 20px;
}
#imgg2{
    width: 57.14px;
    height: 80px;
    border-radius: 6px;
}