@charset "utf-8";
html {
    background-image: url(background2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
body {
    color:#424242;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    color:#424242;
    margin-left: 5px;
    margin-right: 5px;
    }

#login-form {
    background-color:#F5F5F5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:120px auto;
    margin-bottom: 0;
    width:100%;
    height: 350px;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    }
#login-form h1 {
    background-color:white;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    padding:20px;
    padding-bottom: 15px;
    padding-left: 25px;
    text-align:left;
    font-family:'Open Sans',sans-serif;
    font-size:18px;
    font-weight: normal;
    margin-bottom: 0;
    }
.chert{
    width: 100%;
    height: 5px;
    background-color: #BCBCBC;
    }
#login-form fieldset {
    border:none;
    position:relative;
    padding-bottom: 0px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
#login-form fieldset form {
    overflow:hidden;
    width:100%;
    margin-bottom: 0px;
    margin-right: 0;
    }
#login-form fieldset form input {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    outline:none;
    -webkit-appearance:none;
    width:260px;
    position:center
    }
#login-form fieldset form input[type="text"] {
    border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding:12px 10px;
    -webkit-appearance:none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    }
#login-form fieldset form input[type="password"] {
    border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding:12px 10px;
    -webkit-appearance:none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    }
#login-form fieldset form input[type="submit"] {
    background-color:#3299BB;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#FFFFFF;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:12px 12px;
    -webkit-appearance:none;
    font-size: 16;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 13px;
    }
.nev{
    margin:0;
    margin-left: 5px;
}
.nevv{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}

#login-form fieldset form span:before {
    background-color:#c9c9c9;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    content:"?";
    display:inline-block;
    height:20px;
    line-height:20px;
    margin-right:10px;
    text-align:center;
    width:20px
    }
#login-form fieldset form span {
    font-size:12px;
    margin-top:40px;
    }
#login-form fieldset form span a {
    color:#eb6d1a;
    text-decoration:none
    }
#login-form fieldset form span a:hover {
    color:#eb6d1a
    }
#login-form fieldset form a[type='forgot'] {
	float:right;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12pt;
    color: #3299BB;
    margin-right: 45px;
    margin-top: 0;
    text-decoration: none;
}
.ch{
    width: 200px;
    height: 3px;
    background-color: #3299BB;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 58px;
    }