@charset "utf-8";
html {
    background-image: url(background2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
body {
    color:#424242;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    color:#424242;
    margin-left: 35px;
    margin-right: 35px;
    }
#login-form {
    background-color:#F5F5F5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:40% auto;
    margin-bottom: 0;
    width:100%;
    font-family:'Open Sans',sans-serif;
    font-size:30pt;
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    }
#sub-form input[type="submit"] {
    background-color:white;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#3299BB;
    cursor:pointer;
    float:none;
    font-weight:normal;
    font-size: 30pt;
    padding:0px;
    margin-left: 120px;
    }
#sub-form{
    background-color:white;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    padding:20px;
    padding-bottom: 15px;
    text-align:left;
    font-family:'Open Sans',sans-serif;
    font-size:35pt;
    margin-bottom: 0;
}
.chert{
    width: 100%;
    height: 5px;
    background-color: #BCBCBC;
    }
#login-form fieldset {
    border:none;
    position:relative;
    padding-bottom: 5px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px
    }
#login-form fieldset form {
    overflow:hidden;
    width:100%;
    margin-bottom: 20px;
    }
#login-form fieldset form input {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    outline:none;
    -webkit-appearance:none;
    width:260px;
    position:center
    }

#login-form fieldset form input[type="submit"] {
    background-color:#3299BB;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#FFFFFF;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:15px 15px;
    -webkit-appearance:none;
    font-size: 30pt;
    width: 100%;
    margin-top: 35px;
    }
#copyright{
    color: #F5F5F5;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -35px;
}
#lock{
    height: 30px;
    width: 30px;
}
#td2{
    padding-right: 20px;
}
#crcr{
  font-size: 35pt;
}
#td3{
    font-size: 35pt;
}