@charset "utf-8";
html {
    background-image: url(https://wallpaperbrowse.com/media/images/Winter-of-Solitude-1.jpg);
    background-size: cover;
    }
body {
    color:#424242;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    color:#424242;
    }
#login-form {
    background-color:#F5F5F5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:180px auto;
    margin-bottom: 0;
    width:316px;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    }
#login-form h1 {
    background-color:white;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    padding:20px;
    padding-bottom: 15px;
    padding-left: 25px;
    text-align:left;
    font-family:'Open Sans',sans-serif;
    font-size:18px;
    font-weight: normal;
    margin-bottom: 0;
    }
.chert{
	width: 100%;
	height: 5px;
	background-color: #BCBCBC;
	}
.nev{
	margin:0;
	margin-left: 5px;
}
#login-form fieldset {
    border:none;
    position:relative;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
    }
#login-form fieldset form {
    overflow:hidden;
    width:270px;
    }
#login-form fieldset form input {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    outline:none;
    -webkit-appearance:none;
    width:260px;
    position:center
    }
#login-form fieldset form input[type="text"] {
    border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding:12px 10px;
    -webkit-appearance:none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    }
#login-form fieldset form input[type="password"] {
    border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding:12px 10px;
    -webkit-appearance:none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    }
#login-form fieldset form input[type="submit"] {
    background-color:#3299BB;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#FFFFFF;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:12px 12px;
    -webkit-appearance:none;
    font-size: 16;
    width: 100%;
    }
