@charset "utf-8";
html {
    background-image: url(background2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
body {
    font-family:'Open Sans',sans-serif;
    font-size:16pt;
    font-weight:normal;
    color:#424242;
    }
#main-form {
    background-color:#F5F5F5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:160px auto;
    width:350px;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,.3);
    }
#main-form fieldset {
    border:none;
    position:relative;
    text-align: left;
    width: 200px;
    padding-top: 20px;
    padding-left: 0;
    height: 180px;
    }
#main-form fieldset form{
    margin-left: 20px;
	  margin-right: 20px;
}
#main-form fieldset form input[type="text"] {
    border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding:12px;
    -webkit-appearance:none;
    font-family:'Open Sans',sans-serif;
    width:99%;
    margin-top: 10px;
    }
#main-form fieldset form input[type='date'] {
	border:1px solid #292829;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    padding-right:56px;
    padding-left: 109px;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-appearance:none;
    margin-top: 10px;
    }
#main-form fieldset form input[type="submit"] {
    background-color:#3299BB;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:white;
    cursor:pointer;
    float:none;
    font-weight:normal;
    padding:12px 12px;
    -webkit-appearance:none;
    width: 309px;
    font-size: 16px;
    }


#sub-form{
	background-color:white;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    padding:20px;
    padding-bottom: 15px;
    text-align:left;
    font-family:'Open Sans',sans-serif;
    font-size:18px;
    margin-bottom: 0;
}
.chert{
	width: 100%;
	height: 5px;
	background-color: #BCBCBC;
}
#lowh {
	height: 23px;
	margin-top: 0;
}
.table {
	width:350px;
}
